.goBoardWrapper {
  background-color: #d4a574;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.goBoard {
  position: relative;
  width: 480px;
  height: 480px;
  background-color: #d4a574;
}

.line {
  position: absolute;
  background-color: #5a4a3a;
}

.horizontal {
  width: 100%;
  height: 1.2px;
  left: 0;
}

.vertical {
  height: 100%;
  width: 1.2px;
  top: 0;
}
