#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.App h1 {
  margin: 0;
  font-size: 2.5em;
  color: #4a4a4a;
  font-weight: 500;
}

.instructions {
  color: #787878;
  font-size: 0.95em;
  margin: 5px 0 20px 0;
}
